{{#if enabled}}
<table class="grid ocrsettings">
    <thead>
        <tr>
            <th>{{ tableHeadFileText }}</th>
            <th>{{ tableHeadJobText }}</th>
            <th>{{ tableHeadLogText }}</th>
            <th>{{ tableHeadReplaceText }}</th>
            <th>{{ tableHeadDeleteFromQueueText }}</th>
        </tr>
    </thead>
    <tbody>
        {{#each jobs}}
        <tr data-id="{{ id }}">
            <td>{{ originalFilename }}</td>
            <td>{{ status }}</td>
            <td>{{ errorLog }}</td>
            <td><span class="icon icon-{{#if replace}}checkmark{{else}}close{{/if}}"></span></td>
            <td class="ocr-action-delete">
                <div id="ocr-delete"><span>{{ ../deleteText }}</span><span class="icon icon-delete"></span></div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>{{ noPendingOrFailedText }}</p>
{{/if}}
<button id="ocr-search">{{ refreshButtonText }}</button>